[submodule "themes/meghna"]
	path = themes/meghna
	url = https://github.com/themefisher/meghna-hugo
[submodule "themes/timer"]
	path = themes/timer
	url = https://github.com/themefisher/timer-hugo.git
[submodule "themes/radity"]
	path = themes/radity
	url = https://github.com/radity/raditian-free-hugo-theme.git
